#About {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-shadow: .0rem .0rem .4rem .4rem rgba(0,0,0,0.3);
  
  
  main {
        width: 90%;
        max-width: 110rem;
        height: 100%;
        background: var(--background);
        box-shadow: var(--shadow);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5rem;


        .container {
          display: flex;
          padding: 1.6rem 1.6rem;
          align-items: center;
          background: var(--dark-background);
          height: 80%;
          width: 100%;
        

        figure {
          height: 100%;
          max-height: 680px;
          position: relative;
          box-shadow: .0rem .0rem .4rem .4rem rgba(0,0,0,0.3);
          width: 30%;
          overflow: hidden;
          
          img {
            height: 100%;
            width: auto;
            height: 100%;
              bottom: 20px;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
          }
        }
        div {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          
          h2 {
            font-size: 3.7rem;
            letter-spacing: .3rem;
          }

          ul {
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin: 1rem 0;

            li {
              font-size: 2.4rem;
              cursor: pointer;
              border-bottom: 1px solid white;
              padding-bottom: .6rem;
              transition: .6s ease all;
              font-weight: bold;
            }
            
            .selected {
              color: var(--highlight);
              border-color: var(--highlight);
            }
          }
          
          section {
            overflow-y: scroll;
            margin-top: 1rem;
            width: 100%;
            
            p {
              padding: 0rem 1rem .5rem 2.5rem;
              font-size: 2rem;
              line-height: 2.7rem;
              text-indent: 5rem;
              width: 100%;
            }
          }
          section::-webkit-scrollbar {
            width: .4rem;
          }
        }
      }
    }
}

@media (max-width: 1080px) and (orientation: landscape) {
  #About {
    main {
      padding: 5rem 1rem 1rem 1rem;
  
          figure {
            width: 50%;
            height: 100%;
            overflow: hidden;
            
            img {
              height: 100%;
              height: auto;
              bottom: 20px;
              position: absolute;
              left: 50%;
              top: 0;
              transform: translate(-50%);
            }
          }
          div {

            section {
              margin: 0
            }
          }
        }
      }
}

@media (max-width: 800px) {
  #About {
  
        main {
          height: 100%;
          padding: 6rem 0rem 1.5rem 0rem;
          
          .container {
            flex-direction: column;
            height: 95%;
  
  
          figure {
            height: 45%;
            width: 100%;
            
            img {
              width: 100%;
              height: auto;
              top: -25px;
              left: 0;
              transform: none;
            }
          }
          div {
            height: 55%;
            h2 {
              font-size: 3rem;
            }

            ul {
              margin: .6rem 0;
            }
            section {
              height: 100%;
              padding: 0 .3rem;
              margin: 1rem 0 0 0;
              p {
                padding: 0 0 .7rem 0;
                font-size: 2rem;
                line-height: 2.5rem;
                text-indent: 3rem;
                text-align: justify;
              }
            }
          }
        }
        }
      }
}

@media (max-width: 670px) and (orientation: landscape) {
  #About {
   
        main {
          flex-direction: row;
          height: 100%;
  
          figure {
            height: 100%;
            width: 40%;
            overflow: hidden;
            
            img {
              width: 100%;
              height: auto;
              position: relative;
              top: 0;
              transform: none;
            }
          }
          div {
            height: 100%;
            section {
              margin: 0 0 0 1rem;
            }
          }
        }
      }
}