.splash {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  video {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.home-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // z-index: -;

  h1 {
    font-size: 8rem;
    letter-spacing: .7rem;
    position: relative;
    top: -2rem;
    text-align: center;      
  }
}

#page-container {
  position: relative;
  transition: .4s ease-out all;
}


@media (max-size: 600px) {
  .home-overlay {

  
    h1 {
      font-size: 6rem;   
    }
  }
}

@media screen and (max-aspect-ratio: 16/9) {
  .splash > video {
    height: 100%;
  }
}
@media screen and (min-aspect-ratio: 16/9) {
  .splash > video {
    width: 100%;
  }
}

