#modal {
  width: 95%;
  max-width: 165rem;
  height: 100%;
  background: var(--background);
  border-radius: .4rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  box-shadow: .0rem .0rem .4rem .4rem rgba(0,0,0,0.3);
  
  figure {
    width: 65%;
    position: relative;
    
    #modalVideo {
      width: 100%;
      box-shadow: .0rem .0rem .4rem .4rem rgba(0,0,0,0.3);
    }
    
    img {
      width: 100%;
      box-shadow: .0rem .0rem .4rem .4rem rgba(0,0,0,0.3);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .text {
    flex: 2 1 auto;
    overflow: hidden;
    width: 35%;
    padding: 0 0 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      margin: .7rem;
      font-size: 4rem;
      text-align: center;
      text-shadow: .4rem .4rem .3rem rgba(0, 0, 0, 0.5);
    }
    p {
      overflow-y: scroll;
      height: auto;
      font-size: 2rem;
      letter-spacing: .15rem;
      text-indent: 5rem;
      line-height: 2.4rem;
      padding: 0 .6rem 0 .4rem;
    }
    p::-webkit-scrollbar {
      width: .3rem;
    }
    .links {
      height: 4rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 1rem 0;

      a {
        display: flex;
        justify-content: space-evenly;
        padding: 0 .5rem;
        align-items: center;
        height: 100%;
        width: 13rem;
        text-decoration: none;
        border-bottom: .1rem solid white;
        transition: .4s ease all;

        img {
          max-height: 80%;
        }
        
        h4 {
          margin: 0 0 0 1rem;
          font-size: 2rem;
          text-align: center;
        }
      } 

      a:hover {
        transform: scale(1.1);
      }
    }
  }
}

#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1300px) {
  #modal {
    width: 95%;
    max-width: 78rem;
    height: 90%;
    background: var(--background);
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    box-shadow: .3rem .5rem 1rem .5rem black;

    figure {
      width: 100%;

      #modalVideo {
        border-radius: .5rem .5rem 0 0;
      }
      
    }

    .text {
      width: 100%;
      padding:0;

      p {
        height: 100%;
        flex: 2 0 auto;
      }
    }
  }
}

@media (max-width: 450px) {
  #modal {

    .text {
      width: 100%;
      padding:0;

      .links {
        a {
          width: 50px;
        }
      }
    }
  }
}