#skill {
  background: var(--background);
  // width: 100%;
  width: 90%;
  max-width: 110rem;
  // max-height: 
  margin: 0 auto;
  // margin-left: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 5rem;
  box-shadow: .0rem .0rem .8rem .8rem rgba(0,0,0,0.6);

  h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: lighter;
    margin-bottom: 2.5rem;
    text-shadow: .5rem .3rem .3rem black;
  }
  
  .content {
    max-width: 120rem;
    padding-bottom: 6rem;
    min-height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    font-size: .5rem;
    
    ul {
      
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      
      li {
        height: 17em;
        width: 20em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: .5em .5em 0 .5em;
        
        img {
          width: 9em;
          height: 9em;
        }
        h3 {
          color: var(--font-color);
          font-size: 2.2em;
          text-align: center;
          font-weight: lighter;
          margin-top: .8em;
          text-shadow: .3rem .2rem .2rem black;
        }
      }
    }
  }
  #projects {
    background: var(--dark-background);
    box-sizing: border-box;
    min-height: 80vh;
    padding-top: 4rem;
    transition: .6s ease-in all;
    // width: calc(100% - 2px);
    
    h1 {
      margin: 2rem 0;
    }
    
    main {
      transition: .6s ease-in-out all;
      width: 95%;
      display: flex;
      flex-direction: column;
      // justify-content: space-around;
      margin: 0 auto;

      aside {
        width: 100%;
        display: flex;
        flex-direction: row;

        h2 {
          font-size: 2.5rem;
          letter-spacing: .2rem;
          text-shadow: .3rem .3rem .3rem black;
        }

        ul {
          display: flex;
          width: 100%;
          justify-content: space-evenly;
          flex-wrap: wrap;
          margin-bottom: 2.2rem;
          li {
            list-style: none;
            cursor: pointer;
            transition: .5s ease-in-out all;
            text-align: center;
            margin: 0 .8rem 1.8rem .8rem;
            width: 225px;
            span {
              font-size: 3rem;
              border-bottom: 1px solid white;
            }
          }
        }
        
        .highlight {
          color: var(--highlight);
          border-bottom: 1px solid var(--highlight);
        }
      }
      section {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: flex-start;
        position: relative;

        .web-project {
          position: absolute;
          top: 0;
          left: 0;
          height: 28rem;
          width: 40rem;
          margin-bottom: 3rem;
          perspective: 1rem;
          transform: translate3d(0, 0, 0);
          transition: transform 0.6s ease;
          overflow: hidden;
          cursor: pointer;
          box-shadow: .0rem .0rem .4rem .4rem rgba(0,0,0,0.2);
          
          figure {
            width: 100%;
          }

          .thumb-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform: scale(0.0);
            transition: 0.6s ease all;
            display: flex;
            justify-content: center;
            align-items: center;

            .thumb-blue {
              width: 100%;
              height: 100%;
              background: var(--highlight);
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0.7;
              z-index: -1;
            }
            img {
              opacity: 1;
              width: 3rem;
            }

            .white {
              color: white;
            }
          }
          
          .hover {
            transform: scale(1);
          }

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  .spacer {
    height: 15rem;
  }
}



@media (max-width: 1100px) {
  #skill {

    .content {
      ul {
        li {
          width: 15em;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  #skill {
    .content {
      width: 85%;
    }
  }
}

@media (max-width: 750px) {
  #skill {
    .content {
      width: 95%;
      ul {
        li {
          height: 15em;
          width: 13em;
          margin: .7rem;
          
          img {
            width: 10em;
            height: 10em;
          }
          h3 {
            font-size: 2em;
            margin-top: .8em;
          }
        }
        .non-import {
          display: none;
        }
      }
    }
      #projects {
      main {
        #aside {
          ul {
            li {
              font-size: 1.6em;
              width: auto;
            }
          }
        }
        section {
          margin: 0 auto;
          width: 98%;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #skill {
    .content {
      ul {
        li {
          width: 12em;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #skill {
    .content {
      .non-import-small {
        display: none;
      }
    }
  }
}